.arianaContent {
  text-align: center;
  max-width: 80%;
  margin: auto;
  line-height: 30px;
  font-size: 20px;
}

.arianaContent h1 {
  margin-top: 35px;
}

.arianaContent h2 {
  text-align: center;
  padding: 30px 80px 30px 80px;
  margin-top: 50px;
}

.arianaContentInfo {
  display: flex;
  align-items: stretch;
}
.arianaContentInfo img {
  max-width: 400px;
  max-height: 600px;
  display: block;
}

.details {
  text-align: left;
  padding: 60px 40px 10px 40px;
}
.sex {
  display: flex;
  align-items: center;
  color: rgb(211, 213, 214);
  justify-content: center;
}
.sex img {
  max-width: 25px;
  max-height: 25px;
  padding-right: 25px;
}
.bonitace time:before {
  content: " • ";
}

.detailsTable {
  margin-top: 60px;
}

td {
  padding-bottom: 20px;
  padding-left: 40px;
}

th {
  padding-bottom: 20px;
}

.shows {
  color: rgb(211, 213, 214);
  padding: 15px;
  border-bottom: 1px solid;
  border-color: rgb(211, 213, 214);
  max-width: fit-content;
  display: flex;
  align-items: center;
  font-size: 13.28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.shows:hover {
  background-color: rgb(211, 213, 214);
  color:rgb(13, 18, 19);
}
.shows:hover img {
  filter: invert(1);
}


.parents {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.momContent {
  text-align: left;
  padding-left: 100px;
}
.imgMom {
  padding-top: 50px;
  max-width: 400px;
  max-height: 350px;
  display: block;
}
.dadContent {
  text-align: left;
  padding-right: 100px;
}
.dadContent h3, .momContent h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.dadContent div, .momContent div {
  color: rgb(211, 213, 214);
}
.imgDad {
  padding-top: 10px;
  max-width: 400px;
  max-height: 350px;
  display: block;
}
