.boxes h2, h5 {
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
.boxes {
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: stretch;
    
  }

 .button {
    max-width: fit-content;
    text-transform: uppercase;
    border-bottom: 1px solid;
    letter-spacing: 3px;    
    padding: 15px;
    display: flex;
    align-items: center;
 }

 .button img {
  filter: invert(1);
 }

.hoverDiv {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 .hoverDiv:hover {
  background-color: rgb(85 101 128 / 95%);
  color: rgb(234 236 243);
 }

 .hoverDiv p {
  flex-grow: 1;
 }
 .iconWrapper {
  text-align: center;
}
.icons {
  padding: 6px;
  text-align: center;
  border: 2px solid;
  max-width: 50px;
  max-height: 50px;
  color: whitesmoke;
}

.icons img {
  filter: invert(1);
}
.icons:hover {
  border-color: rgb(13, 18, 19);
  filter: invert(1)
}
