.health {
    margin: auto;
    max-width: 80%;
}
.health img {
    margin: 30px;
}
.healthNavi {
    display: flex;
}
.healthNavi p {
    padding-right: 20px;
}
.stance {
    display: flex;
}

.imgDefault {
    height: 450px;
    width: 300px;
}
.running {
    height: 200px;
    width: 300px;
}
.pastern {
    height: 110px;
    width: 300px;
}
.dysplasia {
    height: 250px;
    width: 300px;
}
.tail {
    height: 300px;
    width: 500px;
}