.footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 0 15px 0 15px;
  }
  .links {
    display: flex;
  }
  
  .links a {
    text-decoration: none;
    padding: 0 10px 0 10px;
  }
  
  .importantLinks {
    position: relative;
    padding-bottom: 30px;
  }
  
  .contactSocial {
    margin-left: auto;
    position: relative;
    padding-top: 30px;
  }