.cover {
    height: 1000px;
    object-fit: cover;
    width: 100%;
    margin-top: -125px;
  }
  
  .content {
    text-align: center;
    margin: 20px 20px;
    line-height: 30px;
    font-size: 20px;
  }
