body {
  margin: 0 auto;
  color: rgb(234 236 243);
  background-color: rgb(35 43 78 / 37%);
  -webkit-font-smooting: antialiased;
  font-family: Poppins;
}
a {
  text-decoration: none;
}
img {
  border-radius: 10px;
}

.page-content {
  margin-top: 125px;
}
.standard {
  display: block;
  text-align: center;
  max-width: 70%;
  margin: auto;
}
.standard h2, h4 {
  text-align: center;
}
.standard h4 {
  color: rgb(85 101 128);
  text-decoration: overline;
  font-size: 23px;
  margin-top: 50px;
  padding-top: 25px;
  letter-spacing: 3px;
}

.standard div {
  text-align: left;
  font-size: 20px;
}

