.isaacContent {
    text-align: center;
    max-width: 70%;
    margin: auto;
    line-height: 30px;
    font-size: 20px;
  }
  
  .isaacContent h1 {
    margin-top: 35px;
  }
  .isaacContent h2 {
    text-align: center;
    padding: 30px 80px 30px 80px;
  }
  .isaacContentInfo {
    display: flex;
    align-items: stretch;
  }
  .isaacContentInfo img {
    padding-top: 50px;
    max-width: 400px;
    max-height: 600px;
    display: block;
  }
  
  .details {
    text-align: left;
    padding: 60px 40px 10px 40px;
  }
  .sex {
    text-align: center;
  }
  .sex time:before {
    content: " • ";
  }
  
  
  .detailsTable {
    margin-top: 60px;
  }
  
  td {
    padding-bottom: 20px;
    padding-left: 40px;
  }
  
  th {
    padding-bottom: 20px;
  }
  